@CHARSET "ISO-8859-1";

div.field{
	padding-bottom: 10px;
}

div.verticaplGap{
	clear: both;
	min-height: 20px;
}

div.separator{
	border-top: 1px solid #e0e0e0;
	top-margin: 5px;
	bottom-margin: 5px;
}

input[type=checkbox]{
	max-height: 20px;
	max-width: 20px;
}

div.break{
	clear: both;
}

.active{
	background-color: rgba(75,141,248, 0.25);
}

